<header class="header">
    <div class="header__container">
        <a href="" class="header__logo"><img src="img/logo.svg" alt="logo">
        </a>
        <nav class="header__menu menu">
            <div class="menu__body">
                <ul class="menu__list">
                    <li class="menu__item"><a href="" class="menu__link">Home</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Collection</a></li>
                    <li class="menu__item"><a href="" class="menu__link">Services</a></li>
                    <li class="menu__item"><a href="" class="menu__link">About</a></li>
                </ul>
            </div>
        </nav>
        <a href="" class="header__button button">Instagram</a>
        <button class="icon-menu" type="button">
            <span></span>
        </button>
    </div>
</header>