<footer class="footer">
    <div class="footer__main main-footer">
        <div class="main-footer__container">
            <div class="main-footer__column">
                <a href="" class="main-footer__logo">
                    <img src="img/logo.svg" alt="logo">
                </a>
                <div class="main-footer__text text">
                    <p>Growfy is a template highly suitable for modern marketing agencies, digital studios, startups and
                        businesses. The design is made in the dark style, which makes the site memorable and you can
                        easily adapt it to your brand.
                    </p>
                </div>
                <div class="main-footer__social social">
                    <a href="" class="social__link">
                        <img src="img/social/01.svg" alt="social">
                    </a>
                    <a href="" class="social__link">
                        <img src="img/social/02.svg" alt="social">
                    </a>
                    <a href="" class="social__link">
                        <img src="img/social/03.svg" alt="social">
                    </a>
                    <a href="" class="social__link">
                        <img src="img/social/04.svg" alt="social">
                    </a>
                    <a href="" class="social__link">
                        <img src="img/social/05.svg" alt="social">
                    </a>
                </div>
            </div>
            <div class="main-footer__column">
                <div class="main-footer__label">Pages</div>
                <nav class="main-footer__menu menu-footer">
                    <ul class="menu-footer__list">
                        <li class="menu-footer__item">
                            <a href="" class="menu-footer-link">Home</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="" class="menu-footer-link">About</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="" class="menu-footer-link">Services</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="" class="menu-footer-link">Packages</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="" class="menu-footer-link">Blog</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="" class="menu-footer-link">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="main-footer__column">
                <div class="main-footer__label">Utility pages</div>
                <nav class="main-footer__menu menu-footer">
                    <ul class="menu-footer__list">
                        <li class="menu-footer__item">
                            <a href="" class="menu-footer-link">Instructions</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="" class="menu-footer-link">Style guide</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="" class="menu-footer-link">Licenses</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="" class="menu-footer-link">Changelog</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="" class="menu-footer-link">404 Not found</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="" class="menu-footer-link">Password protected</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="main-footer__column">
                <div class="main-footer__label">Subscribe to our newsletter</div>
                <div class="main-footer__text text">Lorem ipsum dolor sit am consectetur adipiscing</div>
                <form action="" class="subscribe">
                    <input type="email" placeholder="Enter your email" required class="subscribe__input">
                    <button type="submit" class="subscribe__button button">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer__bottom bottom-footer">
        <div class="bottom-footer__container">
            <div class="bottom-footer__copy">© 2023</div>
        </div>
    </div>
</footer>